@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400|Parisienne|Raleway);


body {
	margin-top: 60px;
	background: #FFFFFF url(images/img01.gif) repeat;
	font-family: 'Open Sans', Lucida Sans Unicode, Lucida Grande, Verdana, Tahoma, Arial, Sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #666666;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: normal;
	color: #d9638e;
}

h1 {
	font-size: 2em;
}

h2.title {
	font-size: 2.4em;
	padding: 0 0 0 5px;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 10px;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #bad191;
}

a:hover {
	text-decoration: underline;
}

img.border {
	margin-bottom: 20px;
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */


header {
	max-width: 960px;
	height: 240px;
	margin: 0 auto;
	background: url(images/header.png);
}

/* Title */

.title {
	max-width: 980px;
	margin: 0px auto;
	padding: 5px 0px 0px 0px;
}

.title h1, .title p {
	display: block;
	margin: 0;
	padding: 5px;
}

.title h1 {
	background: none;
	font-family: 'Parisienne';
	text-transform: none;
	font-size: 53px;
	line-height: 60px;
	margin: 80px 0 10px;
	text-align: center;
	font-size: 54px;
	color: #d9638e;

}

.title p {
	margin-top: -10px;
	color: #bad191;
	font-size: 14px;
	font-family: 'Raleway';
	text-transform: uppercase;
	text-align: center;

}

/* Navigation */


nav {
	max-width: 80% auto;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
}

nav ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

nav li {
	display: inline;
}

nav a {
	height: 56px;
	margin: 0px;
	padding: 10px 30px 10px 30px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: normal;
	color: #262626;
	border: none;
}

nav .current_page_item a {
	background: #d9638e;
	color: #FFFFFF;
}

nav a:hover {
	background:  #bad191;
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

.page {
	margin: 0px auto;
	max-width: 960px;
	background-color: #FFFFFF;
	border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}


/* Content */

main {
	max-width:100%;
}

.homecontent {
	display: block;
	float: left;
	max-width: 70%;
	padding: 0px 15px 10px 25px;
}

.content {
	float: left;
	max-width: 100%;
	padding: 0 10px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: 0px;
}

.post .entry {
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

/* Sidebar */

.sidebar {
	display:block;
	float: right;
	max-width: 30%;
	padding: 0px 10px;
}

.sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0px;
	border-bottom: 1px dashed #B3B0B0;
	letter-spacing: 1px;
	font-family: 'Raleway';
	font-size: 24px;
	color: #d9638e;
}

.sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 0px;
	text-align: justify;
}

.sidebar a {
	border: none;
}

.sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

footer {
	max-width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

footer a {
	color: #576475;
}

/* Homepage Banner */

#banner {
	max-width:100%;
}

#crossfade {
		position:relative;
    min-height:480px;
    max-width:100%;
}

@-webkit-keyframes crossfading {
  0%  {opacity:1;}
	45% {opacity:1;}
	55% {opacity:0;}
	100% {opacity:0;}
}

#crossfade img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#crossfade img.top {
	-webkit-animation: crossfading 5s ease-in-out alternate infinite;
}

/* About Me Slideshow */

.cf_select {
 text-align: center;
}

.cf_select span {
  padding-right:2em;
  cursor:pointer;
}

.cf {
  position:relative;
  height:281px;
  max-width:450px;
  margin:20px auto;
}

.cf img {
  position:absolute;
	height:280px;
	max-width:450px;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
}

.cf img.opaque {
  opacity:1;
}

/*Flexbox Pricing*/
.pricing-table {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}
.item {
  flex: 1 0 280px;
  display: flex;
  flex-flow: column;
}

.item_info {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.pricing-table {
  margin: 0 auto;
}

.item {
  margin: 0 10px 10px;
  border: 3px solid #E5C5B6;
}

.item_header {
  font-size: 2em;
  background: #E5C5B6;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

.item_info {
  border-top: 1px solid #E5C5B6;
}
.price {
  font-weight:bold;
	font-size:2em;
	padding: 5px;
}

.btn {
  margin: 15px;
  background: #9cc23c;
  display: block;
  border: 2px solid #aecc62;
  color: #ffffff;
	float:right;
}

/* Flexbox Gallery */
#flexgallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-around;
}

#flexgallery img {
width:33%;
height:33%;
transition: .8s opacity;
}

#flexgallery:hover img { opacity: 0.3; }
#flexgallery:hover img:hover { opacity: 1; }



/* FAQ Toggle */

#faqs dt, #faqs dd { padding: 0 0 0 20px }
#faqs dt { font-weight: bold; font-size: 16px; color: #666666; cursor: pointer; height: 37px; margin: 0 0 15px; line-height:15px;}
#faqs dd { margin: 0 30px 20px 25px}
#faqs dt { background: url(images/toggle-closed.png) no-repeat left top;}
#faqs .expanded { background: url(images/toggle-open.png) no-repeat left top;}

/* Form */
.entry form input.text-group{
	min-height:30px;
	line-height:30px;
	width:100%;
	box-sizing:border-box;
}
form select{
	line-height:30px;
	min-height:30px;
	width:100%;
}
button {
  color: #FFFFFF;
	background-color: #d9638e;
  font-size: 120%;
  text-transform: uppercase;
}

button:hover {
  color: #FFFFFF;
  background: #bad191;
}
.menu{
		display:none;
	}

@media only screen and (min-width:320px) and (max-width:1000px){
	section{
		padding:0 10px;
		width:100%;
		box-sizing:border-box;
	}
	header{
		background-size:contain;
		background-repeat:no-repeat;
	}
	nav li{
		width:100%;
		display:block;
	}
	nav a{
		box-sizing: border-box;
		display: block;
		height: 45px;
		line-height: 25px;
	}
	.homecontent{
		max-width:100%;
		padding:0 10px;
	}

	.content{
		max-width:100%;
		padding:0 10px;
	}

	.sidebar{
		float:left;
		max-width:100%;
	}
	.menu{
		cursor:pointer;
		display:block;
	}
	nav ul{
		display:none;
	}

	.cf img{
		width:100%;
	}
	#crossfade {
		min-height: 450px;
	}
	.title h1{
		margin:55px 0 10px;
	}

	#flexgallery img {
	width:50%;
	height:50%;
	transition: .8s opacity;
	}

}

@media only screen and (min-width:320px) and (max-width:640px){
	header{
		background: url(images/mobileheader.png);
		background-size:contain;
		background-repeat:no-repeat;
	}

	.homecontent{
		width:100%;
		padding:0 10px;
	}

	.content{
		width:100%;
		padding:0 10px;
	}



	.title h1{
		font-size:2.5em;
		margin:35px 0 10px;
	}

	#crossfade img {
		width:100%;
	}

	#crossfade{
		min-height: 320px;
	}

	#flexgallery img {
	width:80%;
	height:80%;
	transition: .8s opacity;
	}

}
